

.Mercury{
    background-color: aqua;
}
.Venus{
    background-color: aquamarine;
}
.Earth{
    background-color: antiquewhite;
}
.Mars{background-color: blue;

}
.Jupiter{
    background-color: brown;
}
.Saturn{
    background-color: blueviolet;
}
.Uranus{
    background-color: aqua;
}
.Neptune{
    background-color: red;
}
